header {
    background-color: #1369ce;
    color: #f7f5ec;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
    span {
      font-size: 1.5rem;
      font-weight: bold;
    }
  
    input {
      padding: 8px 12px;
      border-radius: 20px;
      border: none;
      outline: none;
      width: 300px;
      transition: width 0.3s ease-in-out;
  
      &:focus {
        // width: 400px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      }
    }
  }
  